doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='//code.jquery.com/jquery-2.2.4.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js')
    script(src='//code.jquery.com/ui/1.11.4/jquery-ui.min.js')
    script(src='/javascripts/jquery.fileupload.js')
    script(src='/javascripts/jquery.iframe-transport.js')
    script(src='/javascripts/index.js')
  body
    block content
